html{
    scroll-behavior: smooth;
  }
nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#16423C ;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F8EDE3;
}
footer{
    background-color: #561C24;
}
.navbar {
    background-color:#16423C;
    text-align: center;
    overflow: hidden;
}

/** navigation bar links **/
.navbar li {
    display: inline-block;
    padding: 16px;
}

.navbar a {
    color: #eef4ed;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color:#6A9C89;
    color: white;
}

footer {
    background-color:#561C24;
    color: white;
    padding: 50px;
}
.footerBottom {
    width: 100%;
    /*justify-content: center;*/
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Bona Nova SC', serif;
    text-align: center;
    color:#8a6146;
}
div {
    margin: 40px 0; /* Adds consistent spacing around the div */
    text-align: center; /* Centers the header inside the div */
}
}
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.about-container img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin-left: 20px; /* Add space between the text and image */
}
.about-text {
    max-width: 50%;
}

p {
    margin-bottom: 20px;
}
strong {
    color: #c38e70;
}